<section class="mt-5 d-flex align-items-center justify-content-center">
  <div class="container py-3 px-3 px-md-5">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-12 col-md-6">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" style="max-width: 100%; height: auto;"
          alt="Phone image"
        />
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <form [formGroup]="form!" (ngSubmit)="login()">
          <h1 class="text-primary fw-semibold">Faça Login na e-Agenda Médica</h1>

          <mat-form-field appearance="fill" class="my-3 custom-input">
            <mat-label>Nome de Usuário</mat-label>
            <input data-cy="txtLogin" matInput formControlName="login" [ngClass]="invalidField('login') ? 'is-invalid' : ''" />
          </mat-form-field>

          <mat-form-field appearance="fill" class="my-3 custom-input">
            <mat-label>Senha</mat-label>
            <input data-cy="txtPassword" matInput formControlName="password" [ngClass]="invalidField('password') ? 'is-invalid' : ''" />
          </mat-form-field>

          <div class="form-group">
            Ainda não é um usuário?
            <a role="button" class="text-primary text-decoration-none" routerLink="/register">Clique aqui e cadastre-se!</a>
          </div>

          <div class="card-footer g-grid d-flex gap-1 mt-4">
            <button data-cy="btnLogin" mat-raised-button color="primary" type="submit">
              <mat-icon class="me-2">login</mat-icon>
              Logar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>