<div class="row justify-content-center align-items-center mt-5">
  <div class="col-md-5">
    <h1 class="fs-2">Inserir Nova Atividade</h1>

    <form [formGroup]="form!" (ngSubmit)="save()" class="d-grid mt-4">
      <mat-form-field appearance="outline">
        <mat-label>Tipo da atividade</mat-label>
        <mat-select formControlName="typeActivity">
          <mat-option *ngFor="let option of typeActivityOptions" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mb-3">
        <mat-label>Horário de Início</mat-label>
        <input matInput formControlName="startTime">
        <mat-error *ngIf="form!.get('startTime')?.hasError('invalidTimeFormat')">
          Horário de início inválido. Exemplo de horário válido: 12:00:00.
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="mb-3">
        <mat-label>Horário de Término</mat-label>
        <input matInput formControlName="endTime">
        <mat-error *ngIf="form!.get('endTime')?.hasError('invalidTimeFormat')">
          Horário de término inválido. Exemplo de horário válido: 12:00:00.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Médico</mat-label>
        <mat-select formControlName="doctorId" multiple placeholder="Escolha os médicos">
          <mat-option *ngFor="let doctor of doctors$ | async" [value]="doctor.name">
            {{ doctor.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="d-grid my-2">
        <mat-label>Tema</mat-label>

        <mat-radio-group formControlName="tema">
          <mat-radio-button value="primary">Padrão</mat-radio-button>
          <mat-radio-button value="accent">Aviso</mat-radio-button>
          <mat-radio-button value="warn">Urgente</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-card class="col">
        <mat-card-header>
          <mat-card-title [ngSwitch]="form!.get('typeActivity')?.pristine">
            <span *ngSwitchCase="true">Esta é a sua atividade</span>
            <span *ngSwitchCase="false">{{ form!.get("typeActivity")?.value }}</span>
          </mat-card-title>

          <mat-chip
            [ngSwitch]="form!.get('tema')?.value"
            class="ms-auto"
            [highlighted]="true"
            [color]="form!.get('tema')?.value"
          >
            <span *ngSwitchCase="'primary'">Padrão</span>
            <span *ngSwitchCase="'accent'">Aviso</span>
            <span *ngSwitchCase="'warn'">Urgente</span>
          </mat-chip>
        </mat-card-header>
        <mat-card-content
          [ngSwitch]="form!.get('startTime')?.pristine"
          class="mt-3 fs-6"
        >
          <span *ngSwitchCase="true"
            >Preencha os campos para ver como ficará a atividade.</span
          >
          <span *ngSwitchCase="false">Horário de Início: {{ form!.get("startTime")?.value }}</span>
          <br><br>
          <span *ngSwitchCase="false">Horário de Término: {{ form!.get("endTime")?.value }}</span>
          <br><br>
          <span *ngSwitchCase="false">Médico(s): {{ form!.get("doctorId")?.value?.join(', ') }}</span>
        </mat-card-content>
      </mat-card>

      <div class="d-flex justify-content-end gap-2 mt-5">
        <button
          type="submit"
          class="py-3 px-5"
          color="primary"
          mat-raised-button
        >
          Salvar
        </button>
        <button
          type="button"
          routerLink="/notas/listar"
          class="py-3 px-5"
          color="warn"
          mat-stroked-button
        >
          Voltar
        </button>
      </div>
    </form>
  </div>
</div>