<div class="row justify-content-center align-items-center mt-5">
  <div class="col-md-5">
    <h1 class="fs-2">Inserir Nova Atividade</h1>

    <form [formGroup]="form!" (ngSubmit)="save()" class="d-grid mt-4">

      <mat-form-field appearance="outline">
        <mat-label>Título da atividade</mat-label>
        <input type="text" formControlName="title" matInput />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Tipo da atividade</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let option of typeActivityOptions" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mb-3">
        <mat-label>Dia de Início</mat-label>
        <input matInput [matDatepicker]="startPicker" formControlName="startDay">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="mb-3">
        <mat-label>Dia de Término</mat-label>
        <input matInput [matDatepicker]="endPicker" formControlName="endDay">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="mb-3">
        <mat-label>Horário de Início</mat-label>
        <input type="time" matInput formControlName="startTime">
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="mb-3">
        <mat-label>Horário de Término</mat-label>
        <input type="time" matInput formControlName="endTime">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Médico(s)</mat-label>
        <mat-select formControlName="selectedDoctors" multiple placeholder="Escolha os médicos">
          <mat-option *ngFor="let doctor of doctors$ | async" [value]="doctor.id">
            {{ doctor.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="d-grid my-2">
        <mat-label>Tema</mat-label>

        <mat-radio-group formControlName="theme">
          <mat-radio-button value="primary">Padrão</mat-radio-button>
          <mat-radio-button value="accent">Aviso</mat-radio-button>
          <mat-radio-button value="warn">Urgente</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-card class="col">
        <mat-card-header>
          <mat-card-title [ngSwitch]="form!.get('title')?.pristine">
            <span *ngSwitchCase="true">Esta é a sua atividade</span>
            <span *ngSwitchCase="false">{{ form!.get("title")?.value }}</span>
          </mat-card-title>

          <mat-chip
            [ngSwitch]="form!.get('theme')?.value"
            class="ms-auto"
            [highlighted]="true"
            [color]="form!.get('theme')?.value"
          >
            <span *ngSwitchCase="'primary'">Padrão</span>
            <span *ngSwitchCase="'accent'">Aviso</span>
            <span *ngSwitchCase="'warn'">Urgente</span>
          </mat-chip>
        </mat-card-header>
        <mat-card-content
          [ngSwitch]="form!.get('startTime')?.pristine"
          class="mt-3 fs-6"
        >
          <span *ngSwitchCase="true"
            >Preencha os campos para ver como ficará a atividade.</span
          >
          <span *ngSwitchCase="false">Horário de Início: {{ form!.get("startTime")?.value }}</span>
          <br><br>
          <span *ngSwitchCase="false">Horário de Término: {{ form!.get("endTime")?.value }}</span>
          <br><br>
          <span *ngSwitchCase="false">Atividade: {{ form!.get("type")?.value }}</span>
        </mat-card-content>
      </mat-card>

      <div class="d-flex justify-content-end gap-2 mt-5">
        <button
          type="submit"
          class="py-3 px-5"
          color="primary"
          mat-raised-button
        >
          Salvar
        </button>
        <button
          type="button"
          routerLink="/activities/list"
          class="py-3 px-5"
          color="warn"
          mat-stroked-button
        >
          Voltar
        </button>
      </div>
    </form>
  </div>
</div>