<div class="row gap-3">
  <h1 class="p-0 text-center">Seja bem-vindo(a) ao eAgenda Médica!</h1>

  <mat-card routerLink="/doctors/list" appCardHover class="col-12 col-md-6 col-lg-3 d-grid gap-2">
    <mat-card-header>
      <mat-card-title class="fs-5">Médicos</mat-card-title>
      <mat-icon class="ms-auto">person</mat-icon>
    </mat-card-header>

    <mat-card-content>
      <span class="fs-6">Registre médicos para organizar suas atividades.</span>
    </mat-card-content>
  </mat-card>

  <mat-card routerLink="/activities/list" appCardHover class="col-12 col-md-6 col-lg-3 d-grid gap-2">
    <mat-card-header>
      <mat-card-title class="fs-5">Atividades</mat-card-title>
      <mat-icon class="ms-auto">medical_services</mat-icon>
    </mat-card-header>

    <mat-card-content>
      <span class="fs-6">Atividades ajudam a organizar o dia-a-dia da clínica de forma prática.</span>
    </mat-card-content>
  </mat-card>

  <mat-card routerLink="/doctors/top-10" appCardHover class="col-12 col-md-6 col-lg-3 d-grid gap-2">
    <mat-card-header>
      <mat-card-title class="fs-5">Ranking</mat-card-title>
      <mat-icon class="ms-auto">medical_services</mat-icon>
    </mat-card-header>

    <mat-card-content>
      <span class="fs-6">Veja a lista dos médicos com mais horas trabalhadas.</span>
    </mat-card-content>
  </mat-card>
</div>